/* =======================================================
 *
 * Created by anele on 31/08/2025.
 *
 * @anele_ace
 *
 * =======================================================
*/

html, body {
  font-weight: 400;
  margin: 0;
  font-family: 'Raleway',sans-serif;
}


body {
  margin: 0 auto;
  display: flex; width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

